html {
    font-size: 100%;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #202122;
}

div {
    display: block;
}

.content-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}